<!--The whole content below can be removed with the new code.-->
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{title}}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/welcome']">home</a>
        <a class="nav-link" [routerLink]="['/products']">product</a>
      </div>
    </div>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div> 
</div>
